.table-header-rotated td.rotate {
    font-size: 30px;
    letter-spacing: 1px;
  -webkit-transform: translate(50px, 50px) rotate(45deg);
      -ms-transform: translate(50px, 50px) rotate(45deg);
          transform: translate(50px, 50px) rotate(45deg);
}

#sub-page{
    padding-bottom: 50px;
}